* {
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

/* Header Section */

.header-top {
	display: flex;
	align-items: center;
	height: 70px;
	padding: 10px 30px 10px 30px;
	gap: 0px;
	justify-content: space-between;
}

.header-container1 {
	display: flex;
	height: 50px;
	width: 194px;
	max-width: 1024px;
	gap: 10px;
}

.header-container1 img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	border-radius: 25px;
}

.header-container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	line-height: 28.64px;
	font-weight: 400;
	color: #969696;
}

.top-nav {
	padding: 4px 0px 4px 0px;
	gap: 30px;
	background-color: white;
	width: 262px;
}

.header-top > nav ul {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	line-height: 21.78px;
}

.header-top > nav li {
	height: 22px;
}

.nav-about-us {
	width: 82px;
}

a {
	text-decoration: none;
	color: #737373;
}

.hamburger-button {
	display: none;
}

.button {
	background: #333;
	border: 0;
	padding: 10px 20px;
	color: white;
	border-radius: 5px;
}

.button-text {
	pointer-events: none;
}

.menu ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	list-style: none;
	grid-gap: 10px;
	padding: 0;
}

.menu a {
	background-color: #333;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	display: block;
	text-align: center;
}

[aria-controls="menu-list"] {
	display: none;
}

/* About Section */

.about-us-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 298px;
	padding: 80px 30px 80px 30px;
	gap: 14px;
	text-align: center;
	flex-direction: column;
}

.about-us {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 76px;
	gap: 0px;
	font-size: 64px;
	font-weight: 110;
	line-height: 76.38px;
	text-align: center;
	color: #5d5d5d;
}

.about-us-text {
	display: flex;
	width: 900px;
	height: 48px;
	gap: 0px;
	font-size: 16px;
	font-weight: 510;
	line-height: 24px;
	text-align: center;
	color: #404040;
}

/* Content Section */

.content-container {
	display: flex;
	height: 345px;
	padding: 0px 30px 0px 30px;
	gap: 30px;
	justify-content: center;
}

.content-container img {
	height: 180px;
	width: 301.33px;
	gap: 10px;
}

.img1,
.img2,
.img3 {
	height: 345px;
	width: 301.33px;
	text-align: left;
}

.content-container subtext {
	height: 155px;
	width: 301.33px;
	gap: 10px;
}

/* Team Section */

.our-team-box {
	display: flex;
	height: 250px;
	padding: 80px 30px 60px 30px;
	gap: 14px;
	justify-content: center;
	flex-direction: column;
}

.our-team-header {
	display: flex;
	justify-content: space-around;
}

.our-team-header h2:before {
	display: inline-block;
	content: "";
	height: 1px;
	width: 20px;
	background: linear-gradient(to left, #969696, #969696);
	position: relative;
	bottom: 10px;
	margin-right: 10px;
}

.our-team-header h2 {
	height: 48px;
	font-size: 40px;
	font-weight: 110;
	line-height: 47.73px;
	text-align: center;
	color: #969696;
}

.our-team-header h2:after {
	background: linear-gradient(to right, #969696, #969696);
	display: inline-block;
	content: "";
	height: 1px;
	width: 20px;
	position: relative;
	bottom: 10px;
	margin-left: 10px;
}

.team-text {
	text-align: center;
}

.team-members-box {
	display: flex;
	padding: 0px 30px 80px 30px;
	height: 331px;
	gap: 40px;
	justify-content: center;
}

.chevron-left {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 251px;
	width: 55px;
	gap: 10px;
	color: #969696;
}

.fa-solid fa-chevron-left {
	height: 24px;
	width: 15px;
	font-family: Font Awesome 6 Free;
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
	padding: 0px 20px 0px 20px;
}

.team {
	display: flex;
	gap: 40px;
	padding: 80px 30px 80px 30px;
	justify-content: space-evenly;
	justify-content: center;
}

.team-member {
	height: 251px;
	width: 163.5px;
}

.team-socials {
	height: 80px;
	width: 20px;
	display: flex;
	gap: 10px;
}

.team-socials img {
	height: 20px;
	width: 20px;
	display: flex;
	flex-direction: row;
}

.team-img {
	display: flex;
	gap: 10px;
	max-width: 100%;
	max-height: 100%;
	flex-direction: column;
}

.chevron-right {
	height: 24px;
	width: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 251px;
	width: 55px;
	gap: 10px;
	color: #969696;
}

.fa-solid fa-chevron-right {
	font-family: Font Awesome 6 Free;
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
	padding: 0px 20px 0px 20px;
}

.footer-container {
	display: flex;
	padding: 30px;
	gap: 10px;
	flex-direction: column;
	border: 1px black solid;
	background-color: black;
}

.social-media-box {
	display: flex;
	justify-content: space-evenly;
	height: 30px;
	gap: 30px;
	border: 1px black solid;
	color: #676767;
}

.social-media-box nav {
	display: flex;
	flex-direction: row;
}

.social-media-box nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
	width: 548px;
	height: 30px;
}

.social-media-box nav img {
	height: 30px;
	width: 30px;
}

.social-media-box nav li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* Company Info section */

.company-info {
	display: flex;
	justify-content: center;
	width: Fill (964px) px;
	height: Hug (239px) px;
	padding: 80px 0px 60px 0px;
	gap: 30px;
	text-align: center;
}

.company-info h2 {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.71px;
	text-align: center;
}

.company-info p {
	color: #676767;
}

.copyright {
	color: #969696;
	text-align: center;
	height: 40px;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}

@media (max-width: 768px) {
	.hamburger-button {
		display: flex;
	}

	.menu {
		order: -1;
		perspective: 800px;
	}

	.menu ul {
		max-height: 0;
		overflow: hidden;
		transform: rotateX(90deg);
		transition: all 0.5s;
		list-style: none;
	}

	[aria-controls="menu-list"] {
		display: block;
	}

	[aria-expanded="true"] ~ ul {
		display: grid;
		max-height: 500px;
		transform: rotateX(0);
	}

	[aria-expanded="false"] .close {
		display: none;
	}
	[aria-expanded="true"] .open {
		display: none;
	}
	[aria-expanded="true"] .close {
		display: inline;
	}

	.top-nav {
		display: none;
	}

	.about-us-container {
		height: 322px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.about-us-text {
		height: 72px;
		width: 708px;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		padding: 0px 30px 0px 30px;
		height: 480px;
		justify-content: center;
		align-items: left;
	}

	.img1,
	.img2,
	.img3 {
		display: flex;
		flex-direction: row;
		width: 708px;
		gap: 30px;
	}

	.subtext1,
	.subtext2,
	.subtext3 h3 {
		height: 30px;
		width: 179px;
	}

	.subtext1,
	.subtext2,
	.subtext3 p {
		height: 92px;
		width: 478px;
		gap: 10px;
	}

	.our-team-box {
		height: 250px;
		padding: 80px 30px 0px 30px;
		gap: 14px;
	}

	.team-members-box {
		height: 756px;
		padding: 0px 30px 80px 30px;
		gap: 40px;
	}

	.chevron-left {
		height: 676px;
	}

	.team {
		display: flex;
		flex-wrap: wrap;
	}

	.chevron-right {
		height: 676px;
	}
}
